Importing all the necessary Libraries

In [ ]:
import numpy as num  #to perform wide variety of mathematical calculation on array
import pandas as pd  #for data manupulation in data frames
from sklearn.preprocessing import StandardScaler #for invoking StandardScaler() that is to standardized the data into same range
from sklearn.model_selection import train_test_split #for train_test_split()
from sklearn.metrics import accuracy_score #for calculating the accuracy_score

Dataset uploaded using pandas

In [ ]:
data1=pd.read_csv('/content/Match.csv')
data2=pd.read_csv('/content/Ball_by_Ball.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Now I had merged the Match.csv and Ball_by_Ball.csv based on Match_Id

In [ ]:
output1=pd.merge(data1,data2,on='Match_Id',how='outer')

In [ ]:
print(output1)

       Match_Id Match_Date  Team_Name_Id  Opponent_Team_Id  Season_Id  \
0        335987  18-Apr-08           2.0               1.0        1.0
1        335987  18-Apr-08           2.0               1.0        1.0
2        335987  18-Apr-08           2.0               1.0        1.0
3        335987  18-Apr-08           2.0               1.0        1.0
4        335987  18-Apr-08           2.0               1.0        1.0
...         ...        ...           ...               ...        ...
72978    981018  24-May-16          13.0               2.0        9.0
72979    981020  25-May-16          11.0               1.0        9.0
72980    981022  27-May-16          13.0              11.0        9.0
72981    981024  29-May-16           2.0              11.0        9.0
72982      5483        NaN           NaN               NaN        NaN

                  Venue_Name  Toss_Winner_Id Toss_Decision  IS_Superover  \
0      M Chinnaswamy Stadium             2.0         field           0.0
1      M Chinnaswamy Stadium             2.0         field           0.0
2      M Chinnaswamy Stadium             2.0         field           0.0
3      M Chinnaswamy Stadium             2.0         field           0.0
4      M Chinnaswamy Stadium             2.0         field           0.0
...                      ...             ...           ...           ...
72978  M Chinnaswamy Stadium             2.0         field           0.0
72979       Feroz Shah Kotla             1.0         field           0.0
72980       Feroz Shah Kotla            11.0         field           0.0
72981  M Chinnaswamy Stadium            11.0           bat           0.0
72982                    NaN             NaN           NaN           NaN

       IS_Result  ...  Striker_Id Striker_Batting_Position  Non_Striker_Id  \
0            1.0  ...         1.0                      1.0             2.0
1            1.0  ...         2.0                      2.0             1.0
2            1.0  ...         2.0                      2.0             1.0
3            1.0  ...         2.0                      2.0             1.0
4            1.0  ...         2.0                      2.0             1.0
...          ...  ...         ...                      ...             ...
72978        1.0  ...         NaN                      NaN             NaN
72979        1.0  ...         NaN                      NaN             NaN
72980        1.0  ...         NaN                      NaN             NaN
72981        1.0  ...         NaN                      NaN             NaN
72982        NaN  ...         NaN                      NaN             NaN

       Bowler_Id  Batsman_Scored  Extra_Type  Extra_Runs Player_dissimal_Id  \
0           14.0               0     legbyes           1
1           14.0               0
2           14.0               0       wides           1
3           14.0               0
4           14.0               0
...          ...             ...         ...         ...                ...
72978        NaN             NaN         NaN         NaN                NaN
72979        NaN             NaN         NaN         NaN                NaN
72980        NaN             NaN         NaN         NaN                NaN
72981        NaN             NaN         NaN         NaN                NaN
72982        NaN             NaN         NaN         NaN                NaN

      Dissimal_Type  Fielder_Id
0
1
2
3
4
...             ...         ...
72978           NaN         NaN
72979           NaN         NaN
72980           NaN         NaN
72981           NaN         NaN
72982           NaN         NaN

[72983 rows x 34 columns]

Merging Player_Match.csv to the already merged data

In [ ]:
data3 = pd.read_csv('/content/Player_Match.csv')

In [ ]:
output2=pd.merge(output1,data3,on='Match_Id',how='outer')

In [ ]:
print(output2)

         Match_Id Match_Date  Team_Name_Id  Opponent_Team_Id  Season_Id  \
0          335987  18-Apr-08           2.0               1.0        1.0
1          335987  18-Apr-08           2.0               1.0        1.0
2          335987  18-Apr-08           2.0               1.0        1.0
3          335987  18-Apr-08           2.0               1.0        1.0
4          335987  18-Apr-08           2.0               1.0        1.0
...           ...        ...           ...               ...        ...
1605600    981024  29-May-16           2.0              11.0        9.0
1605601    981024  29-May-16           2.0              11.0        9.0
1605602    981024  29-May-16           2.0              11.0        9.0
1605603    981024  29-May-16           2.0              11.0        9.0
1605604      5483        NaN           NaN               NaN        NaN

                    Venue_Name  Toss_Winner_Id Toss_Decision  IS_Superover  \
0        M Chinnaswamy Stadium             2.0         field           0.0
1        M Chinnaswamy Stadium             2.0         field           0.0
2        M Chinnaswamy Stadium             2.0         field           0.0
3        M Chinnaswamy Stadium             2.0         field           0.0
4        M Chinnaswamy Stadium             2.0         field           0.0
...                        ...             ...           ...           ...
1605600  M Chinnaswamy Stadium            11.0           bat           0.0
1605601  M Chinnaswamy Stadium            11.0           bat           0.0
1605602  M Chinnaswamy Stadium            11.0           bat           0.0
1605603  M Chinnaswamy Stadium            11.0           bat           0.0
1605604                    NaN             NaN           NaN           NaN

         IS_Result  ...  Batsman_Scored Extra_Type  Extra_Runs  \
0              1.0  ...               0    legbyes           1
1              1.0  ...               0    legbyes           1
2              1.0  ...               0    legbyes           1
3              1.0  ...               0    legbyes           1
4              1.0  ...               0    legbyes           1
...            ...  ...             ...        ...         ...
1605600        1.0  ...             NaN        NaN         NaN
1605601        1.0  ...             NaN        NaN         NaN
1605602        1.0  ...             NaN        NaN         NaN
1605603        1.0  ...             NaN        NaN         NaN
1605604        NaN  ...             NaN        NaN         NaN

         Player_dissimal_Id  Dissimal_Type  Fielder_Id  Player_Id Team_Id  \
0                                                             1.0     1.0
1                                                             2.0     1.0
2                                                             3.0     1.0
3                                                             4.0     1.0
4                                                             5.0     1.0
...                     ...            ...         ...        ...     ...
1605600                 NaN            NaN         NaN      429.0    11.0
1605601                 NaN            NaN         NaN      460.0    11.0
1605602                 NaN            NaN         NaN      270.0     2.0
1605603                 NaN            NaN         NaN      382.0     2.0
1605604                 NaN            NaN         NaN        NaN     NaN

        Is_Keeper  Is_Captain
0             0.0         1.0
1             0.0         0.0
2             0.0         0.0
3             0.0         0.0
4             0.0         0.0
...           ...         ...
1605600       0.0         0.0
1605601       0.0         0.0
1605602       0.0         0.0
1605603       0.0         0.0
1605604       NaN         NaN

[1605605 rows x 38 columns]

Now we had to filter the dataset by refining the matches that Dhoni had played

In [ ]:
mask = output2['Player_Id'] == 20  #Dhoni's Player_Id is 20, So we are refining the data where Player_Id is 20
output3=output2[mask]

In [ ]:
print(output3)

         Match_Id Match_Date  Team_Name_Id  Opponent_Team_Id  Season_Id  \
4953       335988  19-Apr-08           4.0               3.0        1.0
4975       335988  19-Apr-08           4.0               3.0        1.0
4997       335988  19-Apr-08           4.0               3.0        1.0
5019       335988  19-Apr-08           4.0               3.0        1.0
5041       335988  19-Apr-08           4.0               3.0        1.0
...           ...        ...           ...               ...        ...
1605035    980974   7-May-16           2.0              12.0        9.0
1605156    980984  10-May-16          12.0              11.0        9.0
1605257    980994  14-May-16           1.0              12.0        9.0
1605356    981002  17-May-16          12.0               6.0        9.0
1605441    981010  21-May-16          12.0               4.0        9.0

                                                Venue_Name  Toss_Winner_Id  \
4953            Punjab Cricket Association Stadium, Mohali             3.0
4975            Punjab Cricket Association Stadium, Mohali             3.0
4997            Punjab Cricket Association Stadium, Mohali             3.0
5019            Punjab Cricket Association Stadium, Mohali             3.0
5041            Punjab Cricket Association Stadium, Mohali             3.0
...                                                    ...             ...
1605035                              M Chinnaswamy Stadium             2.0
1605156  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...            11.0
1605257                                       Eden Gardens            12.0
1605356  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...            12.0
1605441  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...             4.0

        Toss_Decision  IS_Superover  IS_Result  ...  Batsman_Scored  \
4953              bat           0.0        1.0  ...               0
4975              bat           0.0        1.0  ...               0
4997              bat           0.0        1.0  ...               1
5019              bat           0.0        1.0  ...               0
5041              bat           0.0        1.0  ...               4
...               ...           ...        ...  ...             ...
1605035         field           0.0        1.0  ...             NaN
1605156           bat           0.0        1.0  ...             NaN
1605257           bat           0.0        1.0  ...             NaN
1605356         field           0.0        1.0  ...             NaN
1605441           bat           0.0        1.0  ...             NaN

        Extra_Type  Extra_Runs  Player_dissimal_Id  Dissimal_Type  Fielder_Id  \
4953
4975
4997
5019
5041
...            ...         ...                 ...            ...         ...
1605035        NaN         NaN                 NaN            NaN         NaN
1605156        NaN         NaN                 NaN            NaN         NaN
1605257        NaN         NaN                 NaN            NaN         NaN
1605356        NaN         NaN                 NaN            NaN         NaN
1605441        NaN         NaN                 NaN            NaN         NaN

         Player_Id Team_Id Is_Keeper  Is_Captain
4953          20.0     3.0       1.0         1.0
4975          20.0     3.0       1.0         1.0
4997          20.0     3.0       1.0         1.0
5019          20.0     3.0       1.0         1.0
5041          20.0     3.0       1.0         1.0
...            ...     ...       ...         ...
1605035       20.0    12.0       1.0         1.0
1605156       20.0    12.0       1.0         1.0
1605257       20.0    12.0       1.0         1.0
1605356       20.0    12.0       1.0         1.0
1605441       20.0    12.0       1.0         1.0

[17280 rows x 38 columns]

Now we filter the dataset based on Team_Id

In [ ]:
mask1=output3['Team_Id']==3 #CSK Team_Id is 3
final = output3[mask1]

In [ ]:
print(final)

         Match_Id Match_Date  Team_Name_Id  Opponent_Team_Id  Season_Id  \
4953       335988  19-Apr-08           4.0               3.0        1.0
4975       335988  19-Apr-08           4.0               3.0        1.0
4997       335988  19-Apr-08           4.0               3.0        1.0
5019       335988  19-Apr-08           4.0               3.0        1.0
5041       335988  19-Apr-08           4.0               3.0        1.0
...           ...        ...           ...               ...        ...
1604024    829806  12-May-15           6.0               3.0        8.0
1604121    829814  16-May-15           4.0               3.0        8.0
1604208    829822  19-May-15           3.0               7.0        8.0
1604254    829826  22-May-15           3.0               2.0        8.0
1604272    829828  24-May-15           7.0               3.0        8.0

                                               Venue_Name  Toss_Winner_Id  \
4953           Punjab Cricket Association Stadium, Mohali             3.0
4975           Punjab Cricket Association Stadium, Mohali             3.0
4997           Punjab Cricket Association Stadium, Mohali             3.0
5019           Punjab Cricket Association Stadium, Mohali             3.0
5041           Punjab Cricket Association Stadium, Mohali             3.0
...                                                   ...             ...
1604024  Shaheed Veer Narayan Singh International Stadium             3.0
1604121        Punjab Cricket Association Stadium, Mohali             4.0
1604208                                  Wankhede Stadium             7.0
1604254                JSCA International Stadium Complex             3.0
1604272                                      Eden Gardens             3.0

        Toss_Decision  IS_Superover  IS_Result  ...  Batsman_Scored  \
4953              bat           0.0        1.0  ...               0
4975              bat           0.0        1.0  ...               0
4997              bat           0.0        1.0  ...               1
5019              bat           0.0        1.0  ...               0
5041              bat           0.0        1.0  ...               4
...               ...           ...        ...  ...             ...
1604024           bat           0.0        1.0  ...             NaN
1604121           bat           0.0        1.0  ...             NaN
1604208           bat           0.0        1.0  ...             NaN
1604254         field           0.0        1.0  ...             NaN
1604272         field           0.0        1.0  ...             NaN

        Extra_Type  Extra_Runs  Player_dissimal_Id  Dissimal_Type  Fielder_Id  \
4953
4975
4997
5019
5041
...            ...         ...                 ...            ...         ...
1604024        NaN         NaN                 NaN            NaN         NaN
1604121        NaN         NaN                 NaN            NaN         NaN
1604208        NaN         NaN                 NaN            NaN         NaN
1604254        NaN         NaN                 NaN            NaN         NaN
1604272        NaN         NaN                 NaN            NaN         NaN

         Player_Id Team_Id Is_Keeper  Is_Captain
4953          20.0     3.0       1.0         1.0
4975          20.0     3.0       1.0         1.0
4997          20.0     3.0       1.0         1.0
5019          20.0     3.0       1.0         1.0
5041          20.0     3.0       1.0         1.0
...            ...     ...       ...         ...
1604024       20.0     3.0       1.0         1.0
1604121       20.0     3.0       1.0         1.0
1604208       20.0     3.0       1.0         1.0
1604254       20.0     3.0       1.0         1.0
1604272       20.0     3.0       1.0         1.0

[17266 rows x 38 columns]

I have classified the data on the basis of whether Dhoni is in Striker End or Non-Striker end with help of Striker_Id and Non_Striker_Id

In [ ]:
mask2=final['Striker_Id'] == 20
striker=final[mask2]

In [ ]:
mask3=final['Non_Striker_Id']==20
nonstriker=final[mask3]

In [ ]:
print("The attributes with Dhoni on Striker End \n",striker)

The attributes with Dhoni on Striker End
          Match_Id Match_Date  Team_Name_Id  Opponent_Team_Id  Season_Id  \
5833       335988  19-Apr-08           4.0               3.0        1.0
5899       335988  19-Apr-08           4.0               3.0        1.0
5921       335988  19-Apr-08           4.0               3.0        1.0
37822      335994  23-Apr-08           3.0               7.0        1.0
37844      335994  23-Apr-08           3.0               7.0        1.0
...           ...        ...           ...               ...        ...
1573034    548366  10-May-12           5.0               3.0        5.0
1573078    548366  10-May-12           5.0               3.0        5.0
1573144    548366  10-May-12           5.0               3.0        5.0
1573166    548366  10-May-12           5.0               3.0        5.0
1573232    548366  10-May-12           5.0               3.0        5.0

                                         Venue_Name  Toss_Winner_Id  \
5833     Punjab Cricket Association Stadium, Mohali             3.0
5899     Punjab Cricket Association Stadium, Mohali             3.0
5921     Punjab Cricket Association Stadium, Mohali             3.0
37822               MA Chidambaram Stadium, Chepauk             7.0
37844               MA Chidambaram Stadium, Chepauk             7.0
...                                             ...             ...
1573034                      Sawai Mansingh Stadium             3.0
1573078                      Sawai Mansingh Stadium             3.0
1573144                      Sawai Mansingh Stadium             3.0
1573166                      Sawai Mansingh Stadium             3.0
1573232                      Sawai Mansingh Stadium             3.0

        Toss_Decision  IS_Superover  IS_Result  ...  Batsman_Scored  \
5833              bat           0.0        1.0  ...               1
5899              bat           0.0        1.0  ...               1
5921              bat           0.0        1.0  ...               0
37822           field           0.0        1.0  ...               0
37844           field           0.0        1.0  ...               4
...               ...           ...        ...  ...             ...
1573034         field           0.0        1.0  ...             1.0
1573078         field           0.0        1.0  ...             1.0
1573144         field           0.0        1.0  ...             0.0
1573166         field           0.0        1.0  ...             1.0
1573232         field           0.0        1.0  ...             0.0

        Extra_Type  Extra_Runs  Player_dissimal_Id  Dissimal_Type  Fielder_Id  \
5833
5899
5921                                            20            lbw
37822        wides           1
37844
...            ...         ...                 ...            ...         ...
1573034
1573078
1573144
1573166
1573232

         Player_Id Team_Id Is_Keeper  Is_Captain
5833          20.0     3.0       1.0         1.0
5899          20.0     3.0       1.0         1.0
5921          20.0     3.0       1.0         1.0
37822         20.0     3.0       1.0         1.0
37844         20.0     3.0       1.0         1.0
...            ...     ...       ...         ...
1573034       20.0     3.0       1.0         1.0
1573078       20.0     3.0       1.0         1.0
1573144       20.0     3.0       1.0         1.0
1573166       20.0     3.0       1.0         1.0
1573232       20.0     3.0       1.0         1.0

[1257 rows x 38 columns]

In [ ]:
print("The Non_Striker Attributes \n",nonstriker)

The Non_Striker Attributes
          Match_Id Match_Date  Team_Name_Id  Opponent_Team_Id  Season_Id  \
5855       335988  19-Apr-08           4.0               3.0        1.0
5877       335988  19-Apr-08           4.0               3.0        1.0
37932      335994  23-Apr-08           3.0               7.0        1.0
37954      335994  23-Apr-08           3.0               7.0        1.0
37976      335994  23-Apr-08           3.0               7.0        1.0
...           ...        ...           ...               ...        ...
1573056    548366  10-May-12           5.0               3.0        5.0
1573100    548366  10-May-12           5.0               3.0        5.0
1573122    548366  10-May-12           5.0               3.0        5.0
1573188    548366  10-May-12           5.0               3.0        5.0
1573210    548366  10-May-12           5.0               3.0        5.0

                                         Venue_Name  Toss_Winner_Id  \
5855     Punjab Cricket Association Stadium, Mohali             3.0
5877     Punjab Cricket Association Stadium, Mohali             3.0
37932               MA Chidambaram Stadium, Chepauk             7.0
37954               MA Chidambaram Stadium, Chepauk             7.0
37976               MA Chidambaram Stadium, Chepauk             7.0
...                                             ...             ...
1573056                      Sawai Mansingh Stadium             3.0
1573100                      Sawai Mansingh Stadium             3.0
1573122                      Sawai Mansingh Stadium             3.0
1573188                      Sawai Mansingh Stadium             3.0
1573210                      Sawai Mansingh Stadium             3.0

        Toss_Decision  IS_Superover  IS_Result  ...  Batsman_Scored  \
5855              bat           0.0        1.0  ...               2
5877              bat           0.0        1.0  ...               1
37932           field           0.0        1.0  ...               4
37954           field           0.0        1.0  ...               1
37976           field           0.0        1.0  ...               4
...               ...           ...        ...  ...             ...
1573056         field           0.0        1.0  ...             1.0
1573100         field           0.0        1.0  ...             1.0
1573122         field           0.0        1.0  ...             1.0
1573188         field           0.0        1.0  ...             0.0
1573210         field           0.0        1.0  ...             1.0

        Extra_Type  Extra_Runs  Player_dissimal_Id  Dissimal_Type  Fielder_Id  \
5855
5877
37932
37954
37976
...            ...         ...                 ...            ...         ...
1573056
1573100
1573122
1573188
1573210

         Player_Id Team_Id Is_Keeper  Is_Captain
5855          20.0     3.0       1.0         1.0
5877          20.0     3.0       1.0         1.0
37932         20.0     3.0       1.0         1.0
37954         20.0     3.0       1.0         1.0
37976         20.0     3.0       1.0         1.0
...            ...     ...       ...         ...
1573056       20.0     3.0       1.0         1.0
1573100       20.0     3.0       1.0         1.0
1573122       20.0     3.0       1.0         1.0
1573188       20.0     3.0       1.0         1.0
1573210       20.0     3.0       1.0         1.0

[1207 rows x 38 columns]

Dropping all the Non-essential data on both Striker and Non-Striker Dataset

In [ ]:
striker=striker.drop(['Innings_Id','Ball_Id','Team_Bowling_Id','Striker_Batting_Position','Bowler_Id','Batsman_Scored','Match_Date','Opponent_Team_Id','Season_Id','Fielder_Id','Venue_Name','Toss_Winner_Id',"Toss_Decision",'IS_Superover','IS_Result','Is_DuckWorthLewis','Win_Type','Won_By','Man_Of_The_Match_Id','First_Umpire_Id','Second_Umpire_Id','City_Name','Host_Country','Is_Keeper','Is_Captain','Extra_Type','Extra_Runs','Player_dissimal_Id','Dissimal_Type','Team_Name_Id'],axis=1)

In [ ]:
print(striker)

         Match_Id  Match_Winner_Id  Over_Id  Team_Batting_Id  Striker_Id  \
5833       335988              3.0      7.0              3.0        20.0
5899       335988              3.0      7.0              3.0        20.0
5921       335988              3.0      8.0              3.0        20.0
37822      335994              3.0     16.0              3.0        20.0
37844      335994              3.0     16.0              3.0        20.0
...           ...              ...      ...              ...         ...
1573034    548366              3.0     15.0              3.0        20.0
1573078    548366              3.0     15.0              3.0        20.0
1573144    548366              3.0     16.0              3.0        20.0
1573166    548366              3.0     16.0              3.0        20.0
1573232    548366              3.0     16.0              3.0        20.0

         Non_Striker_Id  Player_Id  Team_Id
5833               19.0       20.0      3.0
5899               19.0       20.0      3.0
5921               19.0       20.0      3.0
37822              18.0       20.0      3.0
37844              18.0       20.0      3.0
...                 ...        ...      ...
1573034            35.0       20.0      3.0
1573078            35.0       20.0      3.0
1573144            35.0       20.0      3.0
1573166            35.0       20.0      3.0
1573232            35.0       20.0      3.0

[1257 rows x 8 columns]

In [ ]:
mask=striker['Over_Id']==20
striker=striker[mask]
print(striker)

         Match_Id  Match_Winner_Id  Over_Id  Team_Batting_Id  Striker_Id  \
38394      335994              3.0     20.0              3.0        20.0
38416      335994              3.0     20.0              3.0        20.0
38482      335994              3.0     20.0              3.0        20.0
74936      336001              3.0     20.0              3.0        20.0
74958      336001              3.0     20.0              3.0        20.0
...           ...              ...      ...              ...         ...
1429304    548337              3.0     20.0              3.0        20.0
1429326    548337              3.0     20.0              3.0        20.0
1429370    548337              3.0     20.0              3.0        20.0
1496356    548352              1.0     20.0              3.0        20.0
1522843    548357              3.0     20.0              3.0        20.0

         Non_Striker_Id  Player_Id  Team_Id
38394              22.0       20.0      3.0
38416              22.0       20.0      3.0
38482              22.0       20.0      3.0
74936              19.0       20.0      3.0
74958              19.0       20.0      3.0
...                 ...        ...      ...
1429304            71.0       20.0      3.0
1429326            71.0       20.0      3.0
1429370            71.0       20.0      3.0
1496356           109.0       20.0      3.0
1522843            71.0       20.0      3.0

[65 rows x 8 columns]

In [ ]:
nonstriker=nonstriker.drop(['Innings_Id','Ball_Id','Team_Bowling_Id','Striker_Batting_Position','Bowler_Id','Batsman_Scored','Extra_Type','Extra_Runs','Player_dissimal_Id','Dissimal_Type','Fielder_Id'],axis=1)
mask=nonstriker['Over_Id']==20
nonstriker=nonstriker[mask]
print(nonstriker)

         Match_Id Match_Date  Team_Name_Id  Opponent_Team_Id  Season_Id  \
38438      335994  23-Apr-08           3.0               7.0        1.0
38460      335994  23-Apr-08           3.0               7.0        1.0
162276     336018  10-May-08           3.0               4.0        1.0
162342     336018  10-May-08           3.0               4.0        1.0
162386     336018  10-May-08           3.0               4.0        1.0
188721     336023  14-May-08           7.0               3.0        1.0
188743     336023  14-May-08           7.0               3.0        1.0
188765     336023  14-May-08           7.0               3.0        1.0
188787     336023  14-May-08           7.0               3.0        1.0
188809     336023  14-May-08           7.0               3.0        1.0
188875     336023  14-May-08           7.0               3.0        1.0
188897     336023  14-May-08           7.0               3.0        1.0
293814     336045   1-Jun-08           3.0               5.0        1.0
293902     336045   1-Jun-08           3.0               5.0        1.0
293924     336045   1-Jun-08           3.0               5.0        1.0
301941     392186  18-Apr-09           3.0               7.0        2.0
301985     392186  18-Apr-09           3.0               7.0        2.0
395741     392207  30-Apr-09           3.0               5.0        2.0
395785     392207  30-Apr-09           3.0               5.0        2.0
395807     392207  30-Apr-09           3.0               5.0        2.0
395851     392207  30-Apr-09           3.0               5.0        2.0
433622     392214   4-May-09           3.0               8.0        2.0
433644     392214   4-May-09           3.0               8.0        2.0
433754     392214   4-May-09           3.0               8.0        2.0
531442     392232  16-May-09           3.0               7.0        2.0
550641     392236  18-May-09           3.0               1.0        2.0
550663     392236  18-May-09           3.0               1.0        2.0
550685     392236  18-May-09           3.0               1.0        2.0
550707     392236  18-May-09           3.0               1.0        2.0
550729     392236  18-May-09           3.0               1.0        2.0
636662     419118  16-Mar-10           1.0               3.0        3.0
636684     419118  16-Mar-10           1.0               3.0        3.0
636772     419118  16-Mar-10           1.0               3.0        3.0
764526     419142   3-Apr-10           3.0               5.0        3.0
764548     419142   3-Apr-10           3.0               5.0        3.0
958720     501211  13-Apr-11           4.0               3.0        4.0
958764     501211  13-Apr-11           4.0               3.0        4.0
1110959    501241   1-May-11           3.0               8.0        4.0
1110981    501241   1-May-11           3.0               8.0        4.0
1178389    501254   9-May-11           5.0               3.0        4.0
1178455    501254   9-May-11           5.0               3.0        4.0
1178521    501254   9-May-11           5.0               3.0        4.0
1198476    501258  12-May-11           3.0               6.0        4.0
1415703    548335  19-Apr-12           3.0              10.0        5.0
1415725    548335  19-Apr-12           3.0              10.0        5.0
1415813    548335  19-Apr-12           3.0              10.0        5.0
1429282    548337  21-Apr-12           3.0               5.0        5.0
1429348    548337  21-Apr-12           3.0               5.0        5.0
1496334    548352  30-Apr-12           3.0               1.0        5.0
1496378    548352  30-Apr-12           3.0               1.0        5.0
1496400    548352  30-Apr-12           3.0               1.0        5.0
1496422    548352  30-Apr-12           3.0               1.0        5.0
1496444    548352  30-Apr-12           3.0               1.0        5.0

                                         Venue_Name  Toss_Winner_Id  \
38438               MA Chidambaram Stadium, Chepauk             7.0
38460               MA Chidambaram Stadium, Chepauk             7.0
162276              MA Chidambaram Stadium, Chepauk             4.0
162342              MA Chidambaram Stadium, Chepauk             4.0
162386              MA Chidambaram Stadium, Chepauk             4.0
188721                             Wankhede Stadium             7.0
188743                             Wankhede Stadium             7.0
188765                             Wankhede Stadium             7.0
188787                             Wankhede Stadium             7.0
188809                             Wankhede Stadium             7.0
188875                             Wankhede Stadium             7.0
188897                             Wankhede Stadium             7.0
293814                   Dr DY Patil Sports Academy             5.0
293902                   Dr DY Patil Sports Academy             5.0
293924                   Dr DY Patil Sports Academy             5.0
301941                                     Newlands             3.0
301985                                     Newlands             3.0
395741                              SuperSport Park             5.0
395785                              SuperSport Park             5.0
395807                              SuperSport Park             5.0
395851                              SuperSport Park             5.0
433622                                 Buffalo Park             3.0
433644                                 Buffalo Park             3.0
433754                                 Buffalo Park             3.0
531442                             St George's Park             7.0
550641                              SuperSport Park             3.0
550663                              SuperSport Park             3.0
550685                              SuperSport Park             3.0
550707                              SuperSport Park             3.0
550729                              SuperSport Park             3.0
636662                                 Eden Gardens             3.0
636684                                 Eden Gardens             3.0
636772                                 Eden Gardens             3.0
764526              MA Chidambaram Stadium, Chepauk             3.0
764548              MA Chidambaram Stadium, Chepauk             3.0
958720   Punjab Cricket Association Stadium, Mohali             4.0
958764   Punjab Cricket Association Stadium, Mohali             4.0
1110959             MA Chidambaram Stadium, Chepauk             3.0
1110981             MA Chidambaram Stadium, Chepauk             3.0
1178389                      Sawai Mansingh Stadium             5.0
1178455                      Sawai Mansingh Stadium             5.0
1178521                      Sawai Mansingh Stadium             5.0
1198476             MA Chidambaram Stadium, Chepauk             3.0
1415703             MA Chidambaram Stadium, Chepauk            10.0
1415725             MA Chidambaram Stadium, Chepauk            10.0
1415813             MA Chidambaram Stadium, Chepauk            10.0
1429282             MA Chidambaram Stadium, Chepauk             5.0
1429348             MA Chidambaram Stadium, Chepauk             5.0
1496334             MA Chidambaram Stadium, Chepauk             3.0
1496378             MA Chidambaram Stadium, Chepauk             3.0
1496400             MA Chidambaram Stadium, Chepauk             3.0
1496422             MA Chidambaram Stadium, Chepauk             3.0
1496444             MA Chidambaram Stadium, Chepauk             3.0

        Toss_Decision  IS_Superover  IS_Result  ...       City_Name  \
38438           field           0.0        1.0  ...         Chennai
38460           field           0.0        1.0  ...         Chennai
162276          field           0.0        1.0  ...         Chennai
162342          field           0.0        1.0  ...         Chennai
162386          field           0.0        1.0  ...         Chennai
188721          field           0.0        1.0  ...          Mumbai
188743          field           0.0        1.0  ...          Mumbai
188765          field           0.0        1.0  ...          Mumbai
188787          field           0.0        1.0  ...          Mumbai
188809          field           0.0        1.0  ...          Mumbai
188875          field           0.0        1.0  ...          Mumbai
188897          field           0.0        1.0  ...          Mumbai
293814          field           0.0        1.0  ...          Mumbai
293902          field           0.0        1.0  ...          Mumbai
293924          field           0.0        1.0  ...          Mumbai
301941          field           0.0        1.0  ...       Cape Town
301985          field           0.0        1.0  ...       Cape Town
395741          field           0.0        1.0  ...       Centurion
395785          field           0.0        1.0  ...       Centurion
395807          field           0.0        1.0  ...       Centurion
395851          field           0.0        1.0  ...       Centurion
433622            bat           0.0        1.0  ...     East London
433644            bat           0.0        1.0  ...     East London
433754            bat           0.0        1.0  ...     East London
531442            bat           0.0        1.0  ...  Port Elizabeth
550641            bat           0.0        1.0  ...       Centurion
550663            bat           0.0        1.0  ...       Centurion
550685            bat           0.0        1.0  ...       Centurion
550707            bat           0.0        1.0  ...       Centurion
550729            bat           0.0        1.0  ...       Centurion
636662            bat           0.0        1.0  ...         Kolkata
636684            bat           0.0        1.0  ...         Kolkata
636772            bat           0.0        1.0  ...         Kolkata
764526            bat           0.0        1.0  ...         Chennai
764548            bat           0.0        1.0  ...         Chennai
958720          field           0.0        1.0  ...      Chandigarh
958764          field           0.0        1.0  ...      Chandigarh
1110959           bat           0.0        1.0  ...         Chennai
1110981           bat           0.0        1.0  ...         Chennai
1178389         field           0.0        1.0  ...          Jaipur
1178455         field           0.0        1.0  ...          Jaipur
1178521         field           0.0        1.0  ...          Jaipur
1198476           bat           0.0        1.0  ...         Chennai
1415703         field           0.0        1.0  ...         Chennai
1415725         field           0.0        1.0  ...         Chennai
1415813         field           0.0        1.0  ...         Chennai
1429282           bat           0.0        1.0  ...         Chennai
1429348           bat           0.0        1.0  ...         Chennai
1496334           bat           0.0        1.0  ...         Chennai
1496378           bat           0.0        1.0  ...         Chennai
1496400           bat           0.0        1.0  ...         Chennai
1496422           bat           0.0        1.0  ...         Chennai
1496444           bat           0.0        1.0  ...         Chennai

         Host_Country  Over_Id  Team_Batting_Id  Striker_Id  Non_Striker_Id  \
38438           India     20.0              3.0        22.0            20.0
38460           India     20.0              3.0        22.0            20.0
162276          India     20.0              3.0       109.0            20.0
162342          India     20.0              3.0       109.0            20.0
162386          India     20.0              3.0       109.0            20.0
188721          India     20.0              3.0       109.0            20.0
188743          India     20.0              3.0       109.0            20.0
188765          India     20.0              3.0       109.0            20.0
188787          India     20.0              3.0       109.0            20.0
188809          India     20.0              3.0       109.0            20.0
188875          India     20.0              3.0       109.0            20.0
188897          India     20.0              3.0       109.0            20.0
293814          India     20.0              3.0       127.0            20.0
293902          India     20.0              3.0        23.0            20.0
293924          India     20.0              3.0        23.0            20.0
301941   South Africa     20.0              3.0       119.0            20.0
301985   South Africa     20.0              3.0       119.0            20.0
395741   South Africa     20.0              3.0        21.0            20.0
395785   South Africa     20.0              3.0        21.0            20.0
395807   South Africa     20.0              3.0        21.0            20.0
395851   South Africa     20.0              3.0       109.0            20.0
433622   South Africa     20.0              3.0       109.0            20.0
433644   South Africa     20.0              3.0       109.0            20.0
433754   South Africa     20.0              3.0       109.0            20.0
531442   South Africa     20.0              3.0        18.0            20.0
550641   South Africa     20.0              3.0       109.0            20.0
550663   South Africa     20.0              3.0       109.0            20.0
550685   South Africa     20.0              3.0       109.0            20.0
550707   South Africa     20.0              3.0       109.0            20.0
550729   South Africa     20.0              3.0       109.0            20.0
636662          India     20.0              3.0        23.0            20.0
636684          India     20.0              3.0        23.0            20.0
636772          India     20.0              3.0        23.0            20.0
764526          India     20.0              3.0       185.0            20.0
764548          India     20.0              3.0       185.0            20.0
958720          India     20.0              3.0        23.0            20.0
958764          India     20.0              3.0        23.0            20.0
1110959         India     20.0              3.0        23.0            20.0
1110981         India     20.0              3.0        23.0            20.0
1178389         India     20.0              3.0       109.0            20.0
1178455         India     20.0              3.0       109.0            20.0
1178521         India     20.0              3.0       109.0            20.0
1198476         India     20.0              3.0        23.0            20.0
1415703         India     20.0              3.0        35.0            20.0
1415725         India     20.0              3.0        35.0            20.0
1415813         India     20.0              3.0        35.0            20.0
1429282         India     20.0              3.0        71.0            20.0
1429348         India     20.0              3.0        71.0            20.0
1496334         India     20.0              3.0       109.0            20.0
1496378         India     20.0              3.0       109.0            20.0
1496400         India     20.0              3.0       109.0            20.0
1496422         India     20.0              3.0       109.0            20.0
1496444         India     20.0              3.0       109.0            20.0

         Player_Id Team_Id Is_Keeper  Is_Captain
38438         20.0     3.0       1.0         1.0
38460         20.0     3.0       1.0         1.0
162276        20.0     3.0       1.0         1.0
162342        20.0     3.0       1.0         1.0
162386        20.0     3.0       1.0         1.0
188721        20.0     3.0       1.0         1.0
188743        20.0     3.0       1.0         1.0
188765        20.0     3.0       1.0         1.0
188787        20.0     3.0       1.0         1.0
188809        20.0     3.0       1.0         1.0
188875        20.0     3.0       1.0         1.0
188897        20.0     3.0       1.0         1.0
293814        20.0     3.0       0.0         1.0
293902        20.0     3.0       0.0         1.0
293924        20.0     3.0       0.0         1.0
301941        20.0     3.0       0.0         1.0
301985        20.0     3.0       0.0         1.0
395741        20.0     3.0       1.0         1.0
395785        20.0     3.0       1.0         1.0
395807        20.0     3.0       1.0         1.0
395851        20.0     3.0       1.0         1.0
433622        20.0     3.0       1.0         1.0
433644        20.0     3.0       1.0         1.0
433754        20.0     3.0       1.0         1.0
531442        20.0     3.0       1.0         1.0
550641        20.0     3.0       1.0         1.0
550663        20.0     3.0       1.0         1.0
550685        20.0     3.0       1.0         1.0
550707        20.0     3.0       1.0         1.0
550729        20.0     3.0       1.0         1.0
636662        20.0     3.0       1.0         1.0
636684        20.0     3.0       1.0         1.0
636772        20.0     3.0       1.0         1.0
764526        20.0     3.0       1.0         1.0
764548        20.0     3.0       1.0         1.0
958720        20.0     3.0       1.0         1.0
958764        20.0     3.0       1.0         1.0
1110959       20.0     3.0       1.0         1.0
1110981       20.0     3.0       1.0         1.0
1178389       20.0     3.0       1.0         1.0
1178455       20.0     3.0       1.0         1.0
1178521       20.0     3.0       1.0         1.0
1198476       20.0     3.0       1.0         1.0
1415703       20.0     3.0       1.0         1.0
1415725       20.0     3.0       1.0         1.0
1415813       20.0     3.0       1.0         1.0
1429282       20.0     3.0       1.0         1.0
1429348       20.0     3.0       1.0         1.0
1496334       20.0     3.0       1.0         1.0
1496378       20.0     3.0       1.0         1.0
1496400       20.0     3.0       1.0         1.0
1496422       20.0     3.0       1.0         1.0
1496444       20.0     3.0       1.0         1.0

[53 rows x 27 columns]

In [ ]:
nonstriker=nonstriker.drop(['Match_Date','Team_Name_Id','Opponent_Team_Id','Season_Id','Venue_Name','Toss_Winner_Id','Toss_Decision','IS_Superover','IS_Result','Is_DuckWorthLewis','Win_Type','Won_By','Man_Of_The_Match_Id','First_Umpire_Id','Second_Umpire_Id','City_Name','Host_Country'],axis=1)

In [ ]:
print(nonstriker)

         Match_Id  Match_Winner_Id  Over_Id  Team_Batting_Id  Striker_Id  \
38438      335994              3.0     20.0              3.0        22.0
38460      335994              3.0     20.0              3.0        22.0
162276     336018              3.0     20.0              3.0       109.0
162342     336018              3.0     20.0              3.0       109.0
162386     336018              3.0     20.0              3.0       109.0
188721     336023              7.0     20.0              3.0       109.0
188743     336023              7.0     20.0              3.0       109.0
188765     336023              7.0     20.0              3.0       109.0
188787     336023              7.0     20.0              3.0       109.0
188809     336023              7.0     20.0              3.0       109.0
188875     336023              7.0     20.0              3.0       109.0
188897     336023              7.0     20.0              3.0       109.0
293814     336045              5.0     20.0              3.0       127.0
293902     336045              5.0     20.0              3.0        23.0
293924     336045              5.0     20.0              3.0        23.0
301941     392186              7.0     20.0              3.0       119.0
301985     392186              7.0     20.0              3.0       119.0
395741     392207              3.0     20.0              3.0        21.0
395785     392207              3.0     20.0              3.0        21.0
395807     392207              3.0     20.0              3.0        21.0
395851     392207              3.0     20.0              3.0       109.0
433622     392214              3.0     20.0              3.0       109.0
433644     392214              3.0     20.0              3.0       109.0
433754     392214              3.0     20.0              3.0       109.0
531442     392232              3.0     20.0              3.0        18.0
550641     392236              1.0     20.0              3.0       109.0
550663     392236              1.0     20.0              3.0       109.0
550685     392236              1.0     20.0              3.0       109.0
550707     392236              1.0     20.0              3.0       109.0
550729     392236              1.0     20.0              3.0       109.0
636662     419118              3.0     20.0              3.0        23.0
636684     419118              3.0     20.0              3.0        23.0
636772     419118              3.0     20.0              3.0        23.0
764526     419142              3.0     20.0              3.0       185.0
764548     419142              3.0     20.0              3.0       185.0
958720     501211              4.0     20.0              3.0        23.0
958764     501211              4.0     20.0              3.0        23.0
1110959    501241              3.0     20.0              3.0        23.0
1110981    501241              3.0     20.0              3.0        23.0
1178389    501254              3.0     20.0              3.0       109.0
1178455    501254              3.0     20.0              3.0       109.0
1178521    501254              3.0     20.0              3.0       109.0
1198476    501258              3.0     20.0              3.0        23.0
1415703    548335              3.0     20.0              3.0        35.0
1415725    548335              3.0     20.0              3.0        35.0
1415813    548335              3.0     20.0              3.0        35.0
1429282    548337              3.0     20.0              3.0        71.0
1429348    548337              3.0     20.0              3.0        71.0
1496334    548352              1.0     20.0              3.0       109.0
1496378    548352              1.0     20.0              3.0       109.0
1496400    548352              1.0     20.0              3.0       109.0
1496422    548352              1.0     20.0              3.0       109.0
1496444    548352              1.0     20.0              3.0       109.0

         Non_Striker_Id  Player_Id  Team_Id  Is_Keeper  Is_Captain
38438              20.0       20.0      3.0        1.0         1.0
38460              20.0       20.0      3.0        1.0         1.0
162276             20.0       20.0      3.0        1.0         1.0
162342             20.0       20.0      3.0        1.0         1.0
162386             20.0       20.0      3.0        1.0         1.0
188721             20.0       20.0      3.0        1.0         1.0
188743             20.0       20.0      3.0        1.0         1.0
188765             20.0       20.0      3.0        1.0         1.0
188787             20.0       20.0      3.0        1.0         1.0
188809             20.0       20.0      3.0        1.0         1.0
188875             20.0       20.0      3.0        1.0         1.0
188897             20.0       20.0      3.0        1.0         1.0
293814             20.0       20.0      3.0        0.0         1.0
293902             20.0       20.0      3.0        0.0         1.0
293924             20.0       20.0      3.0        0.0         1.0
301941             20.0       20.0      3.0        0.0         1.0
301985             20.0       20.0      3.0        0.0         1.0
395741             20.0       20.0      3.0        1.0         1.0
395785             20.0       20.0      3.0        1.0         1.0
395807             20.0       20.0      3.0        1.0         1.0
395851             20.0       20.0      3.0        1.0         1.0
433622             20.0       20.0      3.0        1.0         1.0
433644             20.0       20.0      3.0        1.0         1.0
433754             20.0       20.0      3.0        1.0         1.0
531442             20.0       20.0      3.0        1.0         1.0
550641             20.0       20.0      3.0        1.0         1.0
550663             20.0       20.0      3.0        1.0         1.0
550685             20.0       20.0      3.0        1.0         1.0
550707             20.0       20.0      3.0        1.0         1.0
550729             20.0       20.0      3.0        1.0         1.0
636662             20.0       20.0      3.0        1.0         1.0
636684             20.0       20.0      3.0        1.0         1.0
636772             20.0       20.0      3.0        1.0         1.0
764526             20.0       20.0      3.0        1.0         1.0
764548             20.0       20.0      3.0        1.0         1.0
958720             20.0       20.0      3.0        1.0         1.0
958764             20.0       20.0      3.0        1.0         1.0
1110959            20.0       20.0      3.0        1.0         1.0
1110981            20.0       20.0      3.0        1.0         1.0
1178389            20.0       20.0      3.0        1.0         1.0
1178455            20.0       20.0      3.0        1.0         1.0
1178521            20.0       20.0      3.0        1.0         1.0
1198476            20.0       20.0      3.0        1.0         1.0
1415703            20.0       20.0      3.0        1.0         1.0
1415725            20.0       20.0      3.0        1.0         1.0
1415813            20.0       20.0      3.0        1.0         1.0
1429282            20.0       20.0      3.0        1.0         1.0
1429348            20.0       20.0      3.0        1.0         1.0
1496334            20.0       20.0      3.0        1.0         1.0
1496378            20.0       20.0      3.0        1.0         1.0
1496400            20.0       20.0      3.0        1.0         1.0
1496422            20.0       20.0      3.0        1.0         1.0
1496444            20.0       20.0      3.0        1.0         1.0

In [ ]:
nonstriker=nonstriker.drop(['Is_Keeper','Is_Captain'],axis=1)
print(nonstriker)

         Match_Id  Match_Winner_Id  Over_Id  Team_Batting_Id  Striker_Id  \
38438      335994              3.0     20.0              3.0        22.0
38460      335994              3.0     20.0              3.0        22.0
162276     336018              3.0     20.0              3.0       109.0
162342     336018              3.0     20.0              3.0       109.0
162386     336018              3.0     20.0              3.0       109.0
188721     336023              7.0     20.0              3.0       109.0
188743     336023              7.0     20.0              3.0       109.0
188765     336023              7.0     20.0              3.0       109.0
188787     336023              7.0     20.0              3.0       109.0
188809     336023              7.0     20.0              3.0       109.0
188875     336023              7.0     20.0              3.0       109.0
188897     336023              7.0     20.0              3.0       109.0
293814     336045              5.0     20.0              3.0       127.0
293902     336045              5.0     20.0              3.0        23.0
293924     336045              5.0     20.0              3.0        23.0
301941     392186              7.0     20.0              3.0       119.0
301985     392186              7.0     20.0              3.0       119.0
395741     392207              3.0     20.0              3.0        21.0
395785     392207              3.0     20.0              3.0        21.0
395807     392207              3.0     20.0              3.0        21.0
395851     392207              3.0     20.0              3.0       109.0
433622     392214              3.0     20.0              3.0       109.0
433644     392214              3.0     20.0              3.0       109.0
433754     392214              3.0     20.0              3.0       109.0
531442     392232              3.0     20.0              3.0        18.0
550641     392236              1.0     20.0              3.0       109.0
550663     392236              1.0     20.0              3.0       109.0
550685     392236              1.0     20.0              3.0       109.0
550707     392236              1.0     20.0              3.0       109.0
550729     392236              1.0     20.0              3.0       109.0
636662     419118              3.0     20.0              3.0        23.0
636684     419118              3.0     20.0              3.0        23.0
636772     419118              3.0     20.0              3.0        23.0
764526     419142              3.0     20.0              3.0       185.0
764548     419142              3.0     20.0              3.0       185.0
958720     501211              4.0     20.0              3.0        23.0
958764     501211              4.0     20.0              3.0        23.0
1110959    501241              3.0     20.0              3.0        23.0
1110981    501241              3.0     20.0              3.0        23.0
1178389    501254              3.0     20.0              3.0       109.0
1178455    501254              3.0     20.0              3.0       109.0
1178521    501254              3.0     20.0              3.0       109.0
1198476    501258              3.0     20.0              3.0        23.0
1415703    548335              3.0     20.0              3.0        35.0
1415725    548335              3.0     20.0              3.0        35.0
1415813    548335              3.0     20.0              3.0        35.0
1429282    548337              3.0     20.0              3.0        71.0
1429348    548337              3.0     20.0              3.0        71.0
1496334    548352              1.0     20.0              3.0       109.0
1496378    548352              1.0     20.0              3.0       109.0
1496400    548352              1.0     20.0              3.0       109.0
1496422    548352              1.0     20.0              3.0       109.0
1496444    548352              1.0     20.0              3.0       109.0

         Non_Striker_Id  Player_Id  Team_Id
38438              20.0       20.0      3.0
38460              20.0       20.0      3.0
162276             20.0       20.0      3.0
162342             20.0       20.0      3.0
162386             20.0       20.0      3.0
188721             20.0       20.0      3.0
188743             20.0       20.0      3.0
188765             20.0       20.0      3.0
188787             20.0       20.0      3.0
188809             20.0       20.0      3.0
188875             20.0       20.0      3.0
188897             20.0       20.0      3.0
293814             20.0       20.0      3.0
293902             20.0       20.0      3.0
293924             20.0       20.0      3.0
301941             20.0       20.0      3.0
301985             20.0       20.0      3.0
395741             20.0       20.0      3.0
395785             20.0       20.0      3.0
395807             20.0       20.0      3.0
395851             20.0       20.0      3.0
433622             20.0       20.0      3.0
433644             20.0       20.0      3.0
433754             20.0       20.0      3.0
531442             20.0       20.0      3.0
550641             20.0       20.0      3.0
550663             20.0       20.0      3.0
550685             20.0       20.0      3.0
550707             20.0       20.0      3.0
550729             20.0       20.0      3.0
636662             20.0       20.0      3.0
636684             20.0       20.0      3.0
636772             20.0       20.0      3.0
764526             20.0       20.0      3.0
764548             20.0       20.0      3.0
958720             20.0       20.0      3.0
958764             20.0       20.0      3.0
1110959            20.0       20.0      3.0
1110981            20.0       20.0      3.0
1178389            20.0       20.0      3.0
1178455            20.0       20.0      3.0
1178521            20.0       20.0      3.0
1198476            20.0       20.0      3.0
1415703            20.0       20.0      3.0
1415725            20.0       20.0      3.0
1415813            20.0       20.0      3.0
1429282            20.0       20.0      3.0
1429348            20.0       20.0      3.0
1496334            20.0       20.0      3.0
1496378            20.0       20.0      3.0
1496400            20.0       20.0      3.0
1496422            20.0       20.0      3.0
1496444            20.0       20.0      3.0

Creating a new column called 'Outcome' where the data ot holds are either 1 or 0

In [ ]:
#Outcome will be 1 if Match winner is CSK 
striker.loc[striker['Match_Winner_Id']==3.0,'Outcome']=1  
print(striker)

         Match_Id  Match_Winner_Id  Over_Id  Team_Batting_Id  Striker_Id  \
38394      335994              3.0     20.0              3.0        20.0
38416      335994              3.0     20.0              3.0        20.0
38482      335994              3.0     20.0              3.0        20.0
74936      336001              3.0     20.0              3.0        20.0
74958      336001              3.0     20.0              3.0        20.0
...           ...              ...      ...              ...         ...
1429304    548337              3.0     20.0              3.0        20.0
1429326    548337              3.0     20.0              3.0        20.0
1429370    548337              3.0     20.0              3.0        20.0
1496356    548352              1.0     20.0              3.0        20.0
1522843    548357              3.0     20.0              3.0        20.0

         Non_Striker_Id  Player_Id  Team_Id  Outcome
38394              22.0       20.0      3.0      1.0
38416              22.0       20.0      3.0      1.0
38482              22.0       20.0      3.0      1.0
74936              19.0       20.0      3.0      1.0
74958              19.0       20.0      3.0      1.0
...                 ...        ...      ...      ...
1429304            71.0       20.0      3.0      1.0
1429326            71.0       20.0      3.0      1.0
1429370            71.0       20.0      3.0      1.0
1496356           109.0       20.0      3.0      NaN
1522843            71.0       20.0      3.0      1.0

[65 rows x 9 columns]

In [ ]:
striker.loc[striker['Match_Winner_Id']!=3.0,'Outcome']=0
print(striker)

         Match_Id  Match_Winner_Id  Over_Id  Team_Batting_Id  Striker_Id  \
38394      335994              3.0     20.0              3.0        20.0
38416      335994              3.0     20.0              3.0        20.0
38482      335994              3.0     20.0              3.0        20.0
74936      336001              3.0     20.0              3.0        20.0
74958      336001              3.0     20.0              3.0        20.0
...           ...              ...      ...              ...         ...
1429304    548337              3.0     20.0              3.0        20.0
1429326    548337              3.0     20.0              3.0        20.0
1429370    548337              3.0     20.0              3.0        20.0
1496356    548352              1.0     20.0              3.0        20.0
1522843    548357              3.0     20.0              3.0        20.0

         Non_Striker_Id  Player_Id  Team_Id  Outcome
38394              22.0       20.0      3.0      1.0
38416              22.0       20.0      3.0      1.0
38482              22.0       20.0      3.0      1.0
74936              19.0       20.0      3.0      1.0
74958              19.0       20.0      3.0      1.0
...                 ...        ...      ...      ...
1429304            71.0       20.0      3.0      1.0
1429326            71.0       20.0      3.0      1.0
1429370            71.0       20.0      3.0      1.0
1496356           109.0       20.0      3.0      0.0
1522843            71.0       20.0      3.0      1.0

[65 rows x 9 columns]

In [ ]:
nonstriker.loc[nonstriker['Match_Winner_Id']==3.0,'Outcome']=1
nonstriker.loc[nonstriker['Match_Winner_Id']!=3.0,'Outcome']=0
print(nonstriker)

         Match_Id  Match_Winner_Id  Over_Id  Team_Batting_Id  Striker_Id  \
38438      335994              3.0     20.0              3.0        22.0
38460      335994              3.0     20.0              3.0        22.0
162276     336018              3.0     20.0              3.0       109.0
162342     336018              3.0     20.0              3.0       109.0
162386     336018              3.0     20.0              3.0       109.0
188721     336023              7.0     20.0              3.0       109.0
188743     336023              7.0     20.0              3.0       109.0
188765     336023              7.0     20.0              3.0       109.0
188787     336023              7.0     20.0              3.0       109.0
188809     336023              7.0     20.0              3.0       109.0
188875     336023              7.0     20.0              3.0       109.0
188897     336023              7.0     20.0              3.0       109.0
293814     336045              5.0     20.0              3.0       127.0
293902     336045              5.0     20.0              3.0        23.0
293924     336045              5.0     20.0              3.0        23.0
301941     392186              7.0     20.0              3.0       119.0
301985     392186              7.0     20.0              3.0       119.0
395741     392207              3.0     20.0              3.0        21.0
395785     392207              3.0     20.0              3.0        21.0
395807     392207              3.0     20.0              3.0        21.0
395851     392207              3.0     20.0              3.0       109.0
433622     392214              3.0     20.0              3.0       109.0
433644     392214              3.0     20.0              3.0       109.0
433754     392214              3.0     20.0              3.0       109.0
531442     392232              3.0     20.0              3.0        18.0
550641     392236              1.0     20.0              3.0       109.0
550663     392236              1.0     20.0              3.0       109.0
550685     392236              1.0     20.0              3.0       109.0
550707     392236              1.0     20.0              3.0       109.0
550729     392236              1.0     20.0              3.0       109.0
636662     419118              3.0     20.0              3.0        23.0
636684     419118              3.0     20.0              3.0        23.0
636772     419118              3.0     20.0              3.0        23.0
764526     419142              3.0     20.0              3.0       185.0
764548     419142              3.0     20.0              3.0       185.0
958720     501211              4.0     20.0              3.0        23.0
958764     501211              4.0     20.0              3.0        23.0
1110959    501241              3.0     20.0              3.0        23.0
1110981    501241              3.0     20.0              3.0        23.0
1178389    501254              3.0     20.0              3.0       109.0
1178455    501254              3.0     20.0              3.0       109.0
1178521    501254              3.0     20.0              3.0       109.0
1198476    501258              3.0     20.0              3.0        23.0
1415703    548335              3.0     20.0              3.0        35.0
1415725    548335              3.0     20.0              3.0        35.0
1415813    548335              3.0     20.0              3.0        35.0
1429282    548337              3.0     20.0              3.0        71.0
1429348    548337              3.0     20.0              3.0        71.0
1496334    548352              1.0     20.0              3.0       109.0
1496378    548352              1.0     20.0              3.0       109.0
1496400    548352              1.0     20.0              3.0       109.0
1496422    548352              1.0     20.0              3.0       109.0
1496444    548352              1.0     20.0              3.0       109.0

         Non_Striker_Id  Player_Id  Team_Id  Outcome
38438              20.0       20.0      3.0      1.0
38460              20.0       20.0      3.0      1.0
162276             20.0       20.0      3.0      1.0
162342             20.0       20.0      3.0      1.0
162386             20.0       20.0      3.0      1.0
188721             20.0       20.0      3.0      0.0
188743             20.0       20.0      3.0      0.0
188765             20.0       20.0      3.0      0.0
188787             20.0       20.0      3.0      0.0
188809             20.0       20.0      3.0      0.0
188875             20.0       20.0      3.0      0.0
188897             20.0       20.0      3.0      0.0
293814             20.0       20.0      3.0      0.0
293902             20.0       20.0      3.0      0.0
293924             20.0       20.0      3.0      0.0
301941             20.0       20.0      3.0      0.0
301985             20.0       20.0      3.0      0.0
395741             20.0       20.0      3.0      1.0
395785             20.0       20.0      3.0      1.0
395807             20.0       20.0      3.0      1.0
395851             20.0       20.0      3.0      1.0
433622             20.0       20.0      3.0      1.0
433644             20.0       20.0      3.0      1.0
433754             20.0       20.0      3.0      1.0
531442             20.0       20.0      3.0      1.0
550641             20.0       20.0      3.0      0.0
550663             20.0       20.0      3.0      0.0
550685             20.0       20.0      3.0      0.0
550707             20.0       20.0      3.0      0.0
550729             20.0       20.0      3.0      0.0
636662             20.0       20.0      3.0      1.0
636684             20.0       20.0      3.0      1.0
636772             20.0       20.0      3.0      1.0
764526             20.0       20.0      3.0      1.0
764548             20.0       20.0      3.0      1.0
958720             20.0       20.0      3.0      0.0
958764             20.0       20.0      3.0      0.0
1110959            20.0       20.0      3.0      1.0
1110981            20.0       20.0      3.0      1.0
1178389            20.0       20.0      3.0      1.0
1178455            20.0       20.0      3.0      1.0
1178521            20.0       20.0      3.0      1.0
1198476            20.0       20.0      3.0      1.0
1415703            20.0       20.0      3.0      1.0
1415725            20.0       20.0      3.0      1.0
1415813            20.0       20.0      3.0      1.0
1429282            20.0       20.0      3.0      1.0
1429348            20.0       20.0      3.0      1.0
1496334            20.0       20.0      3.0      0.0
1496378            20.0       20.0      3.0      0.0
1496400            20.0       20.0      3.0      0.0
1496422            20.0       20.0      3.0      0.0
1496444            20.0       20.0      3.0      0.0

In [ ]:
 striker=striker.drop(['Match_Id'],axis=1)
 nonstriker=nonstriker.drop(['Match_Id'],axis=1)

Algorithm Used: Logistic Regression

Importing LogisticRegression model from scikit-learn

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
#first five set of data in striker and nonstriker datasets
striker.head()

,Match_Winner_Id,Over_Id,Team_Batting_Id,Striker_Id,Non_Striker_Id,Player_Id,Team_Id,Outcome
38394,3.0,20.0,3.0,20.0,22.0,20.0,3.0,1.0
38416,3.0,20.0,3.0,20.0,22.0,20.0,3.0,1.0
38482,3.0,20.0,3.0,20.0,22.0,20.0,3.0,1.0
74936,3.0,20.0,3.0,20.0,19.0,20.0,3.0,1.0
74958,3.0,20.0,3.0,20.0,19.0,20.0,3.0,1.0

In [ ]:
nonstriker.head()

,Match_Winner_Id,Over_Id,Team_Batting_Id,Striker_Id,Non_Striker_Id,Player_Id,Team_Id,Outcome
38438,3.0,20.0,3.0,22.0,20.0,20.0,3.0,1.0
38460,3.0,20.0,3.0,22.0,20.0,20.0,3.0,1.0
162276,3.0,20.0,3.0,109.0,20.0,20.0,3.0,1.0
162342,3.0,20.0,3.0,109.0,20.0,20.0,3.0,1.0
162386,3.0,20.0,3.0,109.0,20.0,20.0,3.0,1.0

In [ ]:
striker.info()
nonstriker.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65 entries, 38394 to 1522843
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Match_Winner_Id  65 non-null     float64
 1   Over_Id          65 non-null     float64
 2   Team_Batting_Id  65 non-null     float64
 3   Striker_Id       65 non-null     float64
 4   Non_Striker_Id   65 non-null     float64
 5   Player_Id        65 non-null     float64
 6   Team_Id          65 non-null     float64
 7   Outcome          65 non-null     float64
dtypes: float64(8)
memory usage: 4.6 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 38438 to 1496444
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Match_Winner_Id  53 non-null     float64
 1   Over_Id          53 non-null     float64
 2   Team_Batting_Id  53 non-null     float64
 3   Striker_Id       53 non-null     float64
 4   Non_Striker_Id   53 non-null     float64
 5   Player_Id        53 non-null     float64
 6   Team_Id          53 non-null     float64
 7   Outcome          53 non-null     float64
dtypes: float64(8)
memory usage: 3.7 KB

No of Winning Events when Dhoni on Striker end

In [ ]:
striker['Outcome'].value_counts()

1.0    45
0.0    20
Name: Outcome, dtype: int64

No.of Winning Events When Dhoni On Non-Striker end

In [ ]:
nonstriker['Outcome'].value_counts()

1.0    29
0.0    24
Name: Outcome, dtype: int64

In [ ]:
striker=striker.drop(['Non_Striker_Id','Player_Id'],axis=1)# removing the non striker id from the dataset as our Outcome doesnt depend upon it

In [ ]:
nonstriker=nonstriker.drop(['Striker_Id','Player_Id'],axis=1)#removing the strikerId as the Outcome doesnot depend upon it

Now separate the all other attributes and Outcome of the datasets

In [ ]:
x1=striker.iloc[:,[0,3]].values
y1=striker.iloc[:,5].values

In [ ]:
x2=nonstriker.iloc[:,[0,3]].values
y2=nonstriker.iloc[:,5].values

In [ ]:
print("X1\n",x1)
print("Y1\n",y1)

X1
 [[ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 7. 20.]
 [ 7. 20.]
 [ 5. 20.]
 [ 5. 20.]
 [ 5. 20.]
 [ 7. 20.]
 [ 7. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 1. 20.]
 [ 1. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 4. 20.]
 [ 4. 20.]
 [ 4. 20.]
 [ 4. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 2. 20.]
 [ 2. 20.]
 [ 2. 20.]
 [ 2. 20.]
 [ 2. 20.]
 [ 2. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 1. 20.]
 [ 3. 20.]]
Y1
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1.
 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1.]

In [ ]:
print("X2\n",x2)
print("Y2\n",y2)

X2
 [[ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 7. 20.]
 [ 7. 20.]
 [ 7. 20.]
 [ 7. 20.]
 [ 7. 20.]
 [ 7. 20.]
 [ 7. 20.]
 [ 5. 20.]
 [ 5. 20.]
 [ 5. 20.]
 [ 7. 20.]
 [ 7. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 1. 20.]
 [ 1. 20.]
 [ 1. 20.]
 [ 1. 20.]
 [ 1. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 4. 20.]
 [ 4. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 3. 20.]
 [ 1. 20.]
 [ 1. 20.]
 [ 1. 20.]
 [ 1. 20.]
 [ 1. 20.]]
Y2
 [1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 0. 0. 0. 0. 0.]

Splitting the data using train_test_split

In [ ]:
X1_train,X1_test,Y1_train,Y1_test=train_test_split(x1,y1,test_size=0.25,random_state=2)
X2_train,X2_test,Y2_train,Y2_test=train_test_split(x2,y2,test_size=0.25,random_state=3)

Strandardizing the data

In [ ]:
sc=StandardScaler()
X1_train=sc.fit_transform(X1_train)
X1_test=sc.transform(X1_test)

X2_train=sc.fit_transform(X2_train)
X2_test=sc.transform(X2_test)

In [ ]:
classifier=LogisticRegression(random_state=2)
classifier.fit(X1_train,Y1_train)

LogisticRegression(random_state=2)

In [ ]:
y_predict=classifier.predict(X1_test)

Accuracy Score of Testing Data

In [ ]:
print("Accuracy Score for testing data on Striker dataset: ",accuracy_score(Y1_test,y_predict))

Accuracy Score for Striker dataset:  0.7647058823529411

For NonStriker

In [ ]:
classifier=LogisticRegression(random_state=2)
classifier.fit(X2_train,Y2_train)

LogisticRegression(random_state=2)

In [ ]:
y1_predict=classifier.predict(X2_test)

In [ ]:
print("Accuracy Score for testing data on Non-Striker dataset",accuracy_score(Y2_test,y1_predict))

Accuracy Score for Non-Striker dataset 0.7142857142857143

Accuracy Score of Training data

In [ ]:
x_predict=classifier.predict(X1_train)
print("Accuracy Score for training Data on Striker dataset : ",accuracy_score(Y1_train,x_predict))

Accuracy Score for Striker dataset:  0.8125

In [ ]:
x1_predict=classifier.predict(X2_train)
print("Accuracy Score for training data on Non-Striker dataset: ",accuracy_score(x1_predict,Y2_train))

Accuracy Score for training data on Non-Striker dataset:  0.7948717948717948

USING NAIVE BAYES ALGORITHM

In [120]:
mask=final['Over_Id']==20
bayes=final[mask]
bayes

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,...,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id,Player_Id,Team_Id,Is_Keeper,Is_Captain
7549,335988,19-Apr-08,4.0,3.0,1.0,"Punjab Cricket Association Stadium, Mohali",3.0,bat,0.0,1.0,...,6,,,,,,20.0,3.0,1.0,1.0
7571,335988,19-Apr-08,4.0,3.0,1.0,"Punjab Cricket Association Stadium, Mohali",3.0,bat,0.0,1.0,...,6,,,,,,20.0,3.0,1.0,1.0
7593,335988,19-Apr-08,4.0,3.0,1.0,"Punjab Cricket Association Stadium, Mohali",3.0,bat,0.0,1.0,...,4,,,,,,20.0,3.0,1.0,1.0
7615,335988,19-Apr-08,4.0,3.0,1.0,"Punjab Cricket Association Stadium, Mohali",3.0,bat,0.0,1.0,...,1,,,,,,20.0,3.0,1.0,1.0
7637,335988,19-Apr-08,4.0,3.0,1.0,"Punjab Cricket Association Stadium, Mohali",3.0,bat,0.0,1.0,...,6,,,,,,20.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587050,548369,12-May-12,3.0,6.0,5.0,"MA Chidambaram Stadium, Chepauk",3.0,field,0.0,1.0,...,1.0,,,,,,20.0,3.0,1.0,1.0
1587072,548369,12-May-12,3.0,6.0,5.0,"MA Chidambaram Stadium, Chepauk",3.0,field,0.0,1.0,...,1.0,,,,,,20.0,3.0,1.0,1.0
1587094,548369,12-May-12,3.0,6.0,5.0,"MA Chidambaram Stadium, Chepauk",3.0,field,0.0,1.0,...,1.0,,,,,,20.0,3.0,1.0,1.0
1587116,548369,12-May-12,3.0,6.0,5.0,"MA Chidambaram Stadium, Chepauk",3.0,field,0.0,1.0,...,2.0,,,,,,20.0,3.0,1.0,1.0
1587138,548369,12-May-12,3.0,6.0,5.0,"MA Chidambaram Stadium, Chepauk",3.0,field,0.0,1.0,...,0.0,,,,,,20.0,3.0,1.0,1.0

In [129]:
bayes=final.drop(['Innings_Id','Ball_Id','Team_Bowling_Id','Striker_Batting_Position','Bowler_Id','Batsman_Scored','Match_Date','Opponent_Team_Id','Season_Id','Fielder_Id','Venue_Name','Toss_Winner_Id',"Toss_Decision",'IS_Superover','IS_Result','Is_DuckWorthLewis','Win_Type','Won_By','Man_Of_The_Match_Id','First_Umpire_Id','Second_Umpire_Id','City_Name','Host_Country','Is_Keeper','Is_Captain','Extra_Type','Extra_Runs','Player_dissimal_Id','Dissimal_Type','Team_Name_Id'],axis=1)

In [130]:
bayes

,Match_Id,Match_Winner_Id,Over_Id,Team_Batting_Id,Striker_Id,Non_Striker_Id,Player_Id,Team_Id
4953,335988,3.0,1.0,3.0,17.0,18.0,20.0,3.0
4975,335988,3.0,1.0,3.0,17.0,18.0,20.0,3.0
4997,335988,3.0,1.0,3.0,17.0,18.0,20.0,3.0
5019,335988,3.0,1.0,3.0,18.0,17.0,20.0,3.0
5041,335988,3.0,1.0,3.0,18.0,17.0,20.0,3.0
...,...,...,...,...,...,...,...,...
1604024,829806,6.0,NaN,NaN,NaN,NaN,20.0,3.0
1604121,829814,3.0,NaN,NaN,NaN,NaN,20.0,3.0
1604208,829822,7.0,NaN,NaN,NaN,NaN,20.0,3.0
1604254,829826,3.0,NaN,NaN,NaN,NaN,20.0,3.0
1604272,829828,7.0,NaN,NaN,NaN,NaN,20.0,3.0

In [131]:
bayes.loc[bayes['Match_Winner_Id']==3.0,'Outcome']=1
bayes.loc[bayes['Match_Winner_Id']!=3.0,'Outcome']=0
print(bayes)

         Match_Id  Match_Winner_Id  Over_Id  Team_Batting_Id  Striker_Id  \
4953       335988              3.0      1.0              3.0        17.0
4975       335988              3.0      1.0              3.0        17.0
4997       335988              3.0      1.0              3.0        17.0
5019       335988              3.0      1.0              3.0        18.0
5041       335988              3.0      1.0              3.0        18.0
...           ...              ...      ...              ...         ...
1604024    829806              6.0      NaN              NaN         NaN
1604121    829814              3.0      NaN              NaN         NaN
1604208    829822              7.0      NaN              NaN         NaN
1604254    829826              3.0      NaN              NaN         NaN
1604272    829828              7.0      NaN              NaN         NaN

         Non_Striker_Id  Player_Id  Team_Id  Outcome
4953               18.0       20.0      3.0      1.0
4975               18.0       20.0      3.0      1.0
4997               18.0       20.0      3.0      1.0
5019               17.0       20.0      3.0      1.0
5041               17.0       20.0      3.0      1.0
...                 ...        ...      ...      ...
1604024             NaN       20.0      3.0      0.0
1604121             NaN       20.0      3.0      1.0
1604208             NaN       20.0      3.0      0.0
1604254             NaN       20.0      3.0      1.0
1604272             NaN       20.0      3.0      0.0

[17266 rows x 9 columns]

In [132]:
mask1=bayes['Team_Batting_Id']==3.0
bayes=bayes[mask1]
bayes.loc[bayes['Striker_Id']==20.0,'Striker_Id']=20.0
bayes.loc[bayes['Striker_Id']!=20.0,'Striker_Id']=0
bayes.loc[bayes['Non_Striker_Id']==20.0,'Non_Striker_Id']=20.0
bayes.loc[bayes['Non_Striker_Id']!=20.0,'Non_Striker_Id']=0
bayes1 = bayes [bayes.Striker_Id == 20] 
bayes2= bayes[bayes.Non_Striker_Id !=20]
bayes=pd.merge(bayes1,bayes2,on='Match_Id',how='left')
print(bayes)

        Match_Id  Match_Winner_Id_x  Over_Id_x  Team_Batting_Id_x  \
0         335988                3.0        7.0                3.0
1         335988                3.0        7.0                3.0
2         335988                3.0        7.0                3.0
3         335988                3.0        7.0                3.0
4         335988                3.0        7.0                3.0
...          ...                ...        ...                ...
125922    548366                3.0       16.0                3.0
125923    548366                3.0       16.0                3.0
125924    548366                3.0       16.0                3.0
125925    548366                3.0       16.0                3.0
125926    548366                3.0       16.0                3.0

        Striker_Id_x  Non_Striker_Id_x  Player_Id_x  Team_Id_x  Outcome_x  \
0               20.0               0.0         20.0        3.0        1.0
1               20.0               0.0         20.0        3.0        1.0
2               20.0               0.0         20.0        3.0        1.0
3               20.0               0.0         20.0        3.0        1.0
4               20.0               0.0         20.0        3.0        1.0
...              ...               ...          ...        ...        ...
125922          20.0               0.0         20.0        3.0        1.0
125923          20.0               0.0         20.0        3.0        1.0
125924          20.0               0.0         20.0        3.0        1.0
125925          20.0               0.0         20.0        3.0        1.0
125926          20.0               0.0         20.0        3.0        1.0

        Match_Winner_Id_y  Over_Id_y  Team_Batting_Id_y  Striker_Id_y  \
0                     3.0        1.0                3.0           0.0
1                     3.0        1.0                3.0           0.0
2                     3.0        1.0                3.0           0.0
3                     3.0        1.0                3.0           0.0
4                     3.0        1.0                3.0           0.0
...                   ...        ...                ...           ...
125922                3.0       18.0                3.0           0.0
125923                3.0       18.0                3.0           0.0
125924                3.0       19.0                3.0           0.0
125925                3.0       19.0                3.0           0.0
125926                3.0       19.0                3.0           0.0

        Non_Striker_Id_y  Player_Id_y  Team_Id_y  Outcome_y
0                    0.0         20.0        3.0        1.0
1                    0.0         20.0        3.0        1.0
2                    0.0         20.0        3.0        1.0
3                    0.0         20.0        3.0        1.0
4                    0.0         20.0        3.0        1.0
...                  ...          ...        ...        ...
125922               0.0         20.0        3.0        1.0
125923               0.0         20.0        3.0        1.0
125924               0.0         20.0        3.0        1.0
125925               0.0         20.0        3.0        1.0
125926               0.0         20.0        3.0        1.0

[125927 rows x 17 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [133]:
bayes=bayes.drop(['Match_Winner_Id_y','Over_Id_y','Team_Batting_Id_y','Striker_Id_y','Non_Striker_Id_y','Player_Id_y','Team_Id_y','Outcome_y'],axis=1)
x1=bayes.iloc[:,[4,5]].values
y1=bayes.iloc[:,8].values
x1

array([[20.,  0.],
       [20.,  0.],
       [20.,  0.],
       ...,
       [20.,  0.],
       [20.,  0.],
       [20.,  0.]])

In [135]:
bayes

,Match_Id,Match_Winner_Id_x,Over_Id_x,Team_Batting_Id_x,Striker_Id_x,Non_Striker_Id_x,Player_Id_x,Team_Id_x,Outcome_x
0,335988,3.0,7.0,3.0,20.0,0.0,20.0,3.0,1.0
1,335988,3.0,7.0,3.0,20.0,0.0,20.0,3.0,1.0
2,335988,3.0,7.0,3.0,20.0,0.0,20.0,3.0,1.0
3,335988,3.0,7.0,3.0,20.0,0.0,20.0,3.0,1.0
4,335988,3.0,7.0,3.0,20.0,0.0,20.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...
125922,548366,3.0,16.0,3.0,20.0,0.0,20.0,3.0,1.0
125923,548366,3.0,16.0,3.0,20.0,0.0,20.0,3.0,1.0
125924,548366,3.0,16.0,3.0,20.0,0.0,20.0,3.0,1.0
125925,548366,3.0,16.0,3.0,20.0,0.0,20.0,3.0,1.0
125926,548366,3.0,16.0,3.0,20.0,0.0,20.0,3.0,1.0

In [134]:
y1

array([1., 1., 1., ..., 1., 1., 1.])

In [136]:
X1_train,X1_test,Y1_train,Y1_test=train_test_split(x1,y1,test_size=0.25,random_state=2)

In [137]:
import matplotlib.pyplot as plt

In [138]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X1_train, Y1_train)

GaussianNB()

In [139]:
y_pred = classifier.predict(X1_test)

/usr/local/lib/python3.7/dist-packages/sklearn/naive_bayes.py:489: RuntimeWarning: divide by zero encountered in log
  n_ij = -0.5 * np.sum(np.log(2.0 * np.pi * self.var_[i, :]))
/usr/local/lib/python3.7/dist-packages/sklearn/naive_bayes.py:490: RuntimeWarning: invalid value encountered in true_divide
  n_ij -= 0.5 * np.sum(((X - self.theta_[i, :]) ** 2) / (self.var_[i, :]), 1)

In [140]:
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [141]:
from sklearn.metrics import confusion_matrix
ac = accuracy_score(Y1_test,y_pred)
cm = confusion_matrix(Y1_test, y_pred)

In [142]:
print(ac)

0.4033415920208373

In [143]:
print(cm)

[[12698     0]
 [18784     0]]